#division{
    background-color: black;
    padding: 30px;
    margin: 12px;
}
#heading{
    color: white;
}
#hr1{
    border: 2px solid rgb(112, 125, 62);
    width: 80%;
    margin: 0 30px 0 0px;
    margin: 12px;
}
#division2{
    background-color: aquamarine;
    padding: 30px;
    margin: 12px;
}
#para{
    color: orange;
}
#hr2{
    border: 2px solid rgb(20, 60, 179);
    width: 80%;
    margin: 0 0 0 10%;

}
#btn{
    margin: 12px;
    background-color: black;
    color: white;
    padding: 12px
}